.Root {
}

.Container {
  padding: 20px 24px 24px;
}

.Header {
  align-items: center;
  border-bottom: 1px solid #e9eef4;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0 24px;
}

.Records {
  color: #989898;
  font-size: 14px;
}

.Section {
  &:not(:first-child) {
    border-top: 1px solid #e9eef4;
    margin-top: 28px;
    padding-top: 20px;
  }
}

.Title {
  font-size: 28px;
}

.Upload {
  align-items: center;
  display: flex;
  flex-direction: column;

  &Date {
    color: #989898;
    font-size: 12px;
    margin-top: 4px;
  }
}
