.Root {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0;
  color: inherit;
  display: block;
  padding: 16px;
  transition: all .2s ease;
  text-decoration: none;

  &:hover {
    box-shadow: 0 0 0 2px #4da1ff;
    cursor: pointer;
  }

  &:not(:first-child) {
    margin-top: 20px;
  }

  &Selected {
    box-shadow: 0 0 0 2px #4da1ff;
    pointer-events: none;
  }
}

.Hash {
  color: #989898;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.Link {
}

.Name {
  font-size: 22px;
}

.Progress {
  margin-top: 12px;
}
