@import "~styles/themes.scss";

.Root {
  border: 1px solid;
  border-radius: 6px;
  box-shadow: 0 0 0;
  color: inherit;
  display: block;
  padding: 16px;
  position: relative;
  transition: all .2s ease;
  text-decoration: none;

  @include themify($themes) {
    background: themed('blockBackgroundColor');
    border-color: themed('blockBorderColor');
  }

  &:hover:not(&Loading) {
    box-shadow: 0 0 0 2px #4da1ff;
    cursor: pointer;
  }

  &:not(:first-child) {
    margin-top: 20px;
  }

  &Empty {
    .Hash,
    .Name {
      border-radius: 4px;
      color: transparent;
      opacity: .5;
    }

    .Hash {
      background-color: #989898;
    }

    .Name {
      background-color: #313c47;
      max-width: 100px;
    }
  }

  &Loading {
    pointer-events: none;

    .Hash, .Name {
      opacity: .5;
    }
  }

  &Selected {
    box-shadow: 0 0 0 2px #4da1ff;
    pointer-events: none;
  }
}

.Distributed {
  background-color: #ff0048;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  padding: 2px 8px;
  position: absolute;
  right: 8px;
  top: 8px;
}

.Hash {
  color: #989898;
  font-size: 14px;
  line-height: 16px;
  margin-top: 4px;
  min-height: 16px;
  //text-transform: uppercase;
}

.Name {
  font-size: 22px;
  line-height: 28px;
  min-height: 28px;
}

.Hash,
.Name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Progress {
  margin-top: 12px;
}

.Published {
  box-shadow: 0 0 12px 12px #fff;
  position: absolute;
  right: 16px;
  top: 16px;
}
