.Root {
  align-items: center;
  display: flex;
  height: 60px;

  &Empty {
    .Name {
      background-color: #313c47;
      border-radius: 4px;
      color: transparent;
      opacity: .5;
      width: 120px;
    }
  }
}

.Name {
  font-size: 16px;
  line-height: 22px;
  min-height: 22px;
}
