@import "~styles/themes.scss";

.Root {
  border-top: 1px solid #e9eff4;
  height: 60px;
  transition: border-color .2s;

  @include themify($themes) {
    border-color: themed('blockBorderColor');
  }

  &:hover:not(&Empty) {
    cursor: pointer;

    @include themify($themes) {
      background: themed('backgroundColor');
    }
  }

  &Empty {
    .Name {
      background-color: #313c47;
      border-radius: 4px;
      color: transparent;
      opacity: .5;
      width: 120px;
    }
  }

  &Loading {
    pointer-events: none;

    .Name {
      opacity: .5;
    }
  }

  &ReadOnly {
    background-color: rgba(0, 0, 0, .04);
    pointer-events: none;
  }
}

.Container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding: 0 16px;
  width: 100%;
}

.Name {
  flex: 0 0 200px;
  font-size: 16px;
  line-height: 22px;
  min-height: 22px;
}

.Progress {
  flex: 0 1 200px;
}
