.Root {
  background-color: #fff;
  border: 1px solid #e9eff4;
  border-radius: 6px;
  overflow: hidden;

  &:not(:first-child) {
    margin-top: 16px;
  }
}

.Action {
  color: #989898;
}

.Blocks {
  color: #989898;
  margin-right: 8px;
}

.Confirmation {
  align-items: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e9eff4;
  display: flex;
  padding: 16px;
}

.Container {
  padding: 16px;
  position: relative;
}

.Hash {
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Link {
  align-items: center;
  color: #4da1ff;
  display: flex;

  &Icon {
    flex: 0 0 18px;
    margin-right: 8px;
  }

  &Text {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.Name {
  font-size: 22px;
  line-height: 28px;
}

.Progress {
  flex: 1 1 auto;
}

.Status {
  position: absolute;
  right: 16px;
  top: 16px;
}
