@import "~styles/themes.scss";

.Root {
  position: relative;
}

.Container {
  border: 1px solid;
  border-radius: 6px;
  display: flex;
  height: 50px;
  padding: 0 4px;

  &Error {
    border-color: #ff6d4a;
  }

  @include themify($themes) {
    background: themed('inputBackground');
    border-color: themed('inputBorderColor');
  }
}

.Input {
  background-color: transparent;
  border: 0;
  flex: 1 1 auto;
  height: 100%;
  font-family: inherit;
  font-size: 16px;
  padding: 0 12px 0 16px;
}

.Options {
  border: 1px solid;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  left: 0;
  padding: 4px;
  position: absolute;
  top: 54px;
  width: 100%;

  @include themify($themes) {
    background: themed('inputBackground');
    border-color: themed('inputBorderColor');
  }
}

.Values {
  align-items: center;
  display: flex;
  height: 100%;
}
