@import "~styles/themes.scss";

.Root {
  display: flex;
  flex: 1 1 auto;

  @include themify($themes) {
    background: themed('backgroundColor');
  }
}

.Container {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  z-index: 1;
}

.Tablespaces {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: relative;
  z-index: 2;
}

.Transactions {
  border-left: 1px solid #e9eef4;
  flex: 0 0 300px;
  max-width: 300px;

  &Container {
    padding: 16px;
  }

  &Header {
    align-items: center;
    border-bottom: 1px solid #e9eef4;
    display: flex;
    font-size: 28px;
    height: 56px;
    padding: 0 16px;
  }
}
