.Root {
  background-color: #fff;
  border: 1px solid #e9eff4;
  border-radius: 6px;
  overflow: hidden;
}

.Header {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0 16px;
}

.Title {
  font-size: 30px;
}

.Trigger {
  border-top: 1px solid #e9eff4;
  padding: 0 16px;

  &:hover {
    background-color: #f4f7f9;
  }
}
