.Root {
  background: no-repeat center center;
  background-size: contain;
  height: 18px;
  width: 18px;

  &Type {
    &Close {
      background-image: url(./assets/close.svg);
    }

    &External {
      background-image: url(./assets/external.svg);
    }

    &Settings {
      background-image: url(./assets/settings.svg);
    }
  }
}
