@import "~styles/themes.scss";

.Root {
  display: flex;
  justify-content: center;
  left: 0;
  min-height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  @include themify($themes) {
    background: themed('blockBackgroundColor');
  }
}

.Close {
  background: transparent;
  border: 0;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;

  &:hover {
    cursor: pointer;
  }
}

.CloseIcon {
  height: 32px;
  width: 32px;
}

.Container {
  flex: 1 1 auto;
  margin-top: 110px;
  max-width: 600px;
}

.Content {
  margin-top: 20px;
}

.Description {
  color: #989898;
  font-size: 16px;
  margin-top: 8px;
}

.Header {
  display: flex;
  flex-direction: column;
}

.Title {
  font-size: 42px;

  @include themify($themes) {
    color: themed('textColor');
  }
}
