@import '~styles/themes.scss';

.Root {
  border-radius: 6px;
  height: 100%;

  @include themify($themes) {
    background: themed('blockBackgroundColor');
  }

  :global .ReactTable {
    border: 0;
    border-bottom: 1px solid;
    font-size: 14px;
    font-weight: 500;

    @include themify($themes) {
      border-color: themed('blockBorderColor');
    }

    .rt-tbody {
      .rt-td {
        line-height: 44px;
        height: 44px;
        padding: 0 20px;

        @include themify($themes) {
          border-color: themed('blockBorderColor');
        }

        &:last-child {
          border-right: 1px solid;
        }
      }

      .rt-tr {
        align-items: center;
        display: flex;

        &.-even {
          @include themify($themes) {
            background: themed('queryBackgroundColor');
          }
        }
      }

      .rt-tr-group {
        @include themify($themes) {
          border-color: themed('blockBorderColor');
        }
      }
    }

    .rt-thead {
      border-bottom: 1px solid;

      @include themify($themes) {
        background: themed('queryBackgroundColor');
        border-color: themed('blockBorderColor');
      }

      &.-header {
        box-shadow:
          0 0   1px  rgba(10, 31, 68, .08),
          0 3px 4px rgba(10, 31, 68, .1);
      }

      .rt-th {
        align-items: center;
        display: flex;
        font-size: 14px;
        font-weight: 500;
        height: 24px;
        justify-content: center;
        padding: 0 20px;

        @include themify($themes) {
          border-color: themed('blockBorderColor');
        }

        &:after {
          display: block;
          font-size: 14px;
          margin: 0 0 0 8px;
        }

        &:focus {
          outline: none;
        }

        &:last-child {
          border-right: 1px solid;
        }

        &.-sort-asc {
          box-shadow: none;

          &:after {
            content: '▲';
          }
        }

        &.-sort-desc {
          box-shadow: none;

          &:after {
            content: '▼';
            position: relative;
            top: 2px;
          }
        }
      }
    }
  }
}
