.Root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Input {
  background-color: transparent;
  border: 1px solid #d0D7dd;
  border-radius: 5px;
  box-shadow: none;
  height: 50px;
  font-family: inherit;
  font-size: 16px;
  padding: 0 16px;
  transition: all .2s ease;

  &:focus {
    outline: none;

    &:not(.InputError) {
      border-color: #dcdcdc;
      box-shadow: 0 0 0 1px #dcdcdc;
    }
  }

  &Error {
    border-color: #ff6d4a;
  }

  &HasValue {
    font-weight: 500;
  }

  &ReadOnly {
    border-color: #edeeee;
    color: #dcdbdb;
  }
}
