.Root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Error {
  color: #ff6d4a;
  margin-left: 8px;
}

.Label {
  color: #bac5cd;
  font-size: 12px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.Info {
  color: #989898;
  font-size: 14px;
  margin-top: 8px;
}

.Input {
  border: 1px solid #e9eff4;
  border-radius: 5px;
  box-shadow: none;
  height: 50px;
  font-family: inherit;
  font-size: 16px;
  padding: 0 16px;
  transition: all .2s ease;

  &:focus {
    outline: none;

    &:not(&Error) {
      border-color: #dcdcdc;
      box-shadow: 0 0 0 1px #dcdcdc;
    }
  }
  

  &Error {
    border-color: #ff6d4a;
  }
}
