@import "~styles/themes.scss";

.Root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Select {
  border: 1px solid;
  border-radius: 5px;
  box-shadow: none;
  height: 52px;
  font-family: inherit;
  font-size: 16px;
  padding: 0 16px;
  transition: all .2s ease;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @include themify($themes) {
    background: themed('inputBackground');
    border-color: themed('inputBorderColor');
    color: themed('inputColor');
  }

  &:focus {
    outline: none;

    &:not(.SelectError) {
      @include themify($themes) {
        border-color: themed('inputBorderColorFocused');
        box-shadow: 0 0 0 1px themed('inputBorderColorFocused');
      }
    }
  }

  &:hover {
    cursor: pointer;
  }

  &Error {
    border-color: #ff6d4a;
  }

  &HasValue {
    font-weight: 500;
  }

  &ReadOnly {
    @include themify($themes) {
      border-color: themed('inputBorderColorDisabled');
      color: themed('inputColorDisabled');
    }
  }
}
