@import "~styles/themes.scss";

.Root {
  align-items: center;
  border: 1px solid;
  border-radius: 6px;
  color: #989898;
  display: flex;
  height: 40px;
  padding: 0 12px;

  @include themify($themes) {
    background: themed('multiSelectBackgroundColor');
    border-color: themed('multiSelectBorderColor');
  }

  &:hover {
    cursor: pointer;
  }

  &:not(:first-child) {
    margin-left: 4px;
  }
}

.Icon {
  font-size: 20px;
  margin-left: 8px;
}

.Title {
  font-size: 16px;
}
