.Root {
  :global .ReactTable {
    border: 1px solid #f4f7f9;
    border-radius: 4px;

    .rt-thead {
      height: 24px;

      &.-header {
        border-bottom: 1px solid #fff;
      }

      .rt-th {
        align-items: center;
        border: 0;
        color: #989898;
        display: flex;
        padding: 0 16px;
        text-align: left;

        &:first-child {
          display: none;
        }
      }
    }

    .rt-tbody {
      .rt-td {
        align-items: center;
        border: 0;
        display: flex;
        min-height: 60px;
        padding: 0 16px;
      }
    }
  }
}
