@import "~styles/themes.scss";

.Root {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  &Empty {
    .Name {
      border-radius: 4px;
      color: transparent;
      opacity: .5;
    }

    .Name {
      background-color: #313c47;
      min-width: 100px;
    }
  }
}

.Container {
  display: flex;
  flex: 1 1 auto;
}

.Content {
  display: flex;
  flex: 1 1 auto;
}

.Header {
  align-items: center;
  border-bottom: 1px solid;
  display: flex;
  height: 56px;
  justify-content: space-between;
  padding: 0 16px;

  @include themify($themes) {
    border-color: themed('blockBorderColor');
  }
}

.Left {
  align-items: center;
  border-right: 1px solid;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 260px;
  height: 100%;
  max-width: 260px;
  padding: 0 16px;

  @include themify($themes) {
    border-color: themed('blockBorderColor');
  }
}

.Name {
  font-size: 28px;
  line-height: 36px;
  min-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Nav {
  background-color: #fff;
  flex: 1 1 auto;
  height: 100%;
  padding: 0 24px;
}

.Sidebar {
  border-right: 1px solid;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 260px;
  flex-direction: column;
  justify-content: flex-end;
  width: 260px;

  @include themify($themes) {
    border-color: themed('blockBorderColor');
  }
}

.Tables {
  flex: 1 1 auto;
  padding: 16px;
}

.TablesTrigger {
  flex: 0 0 48px;
}

.Tablespaces {
  background-color: #313c47;
  flex: 0 0 80px;
  width: 80px;
}
