.Root {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  &Empty {
    .Hash,
    .Name {
      border-radius: 4px;
      color: transparent;
      opacity: .5;
    }

    .Hash {
      background-color: #989898;
    }

    .Name {
      background-color: #313c47;
      min-width: 100px;
    }
  }
}

.Container {
  display: flex;
  flex: 1 1 auto;
}

.Content {
  flex: 1 1 auto;
}

.Header {
  background-color: #f4f7f9;
  border-bottom: 1px solid #e9eef4;
  display: flex;
  height: 56px;
}

.Hash {
  color: #989898;
  font-size: 14px;
  line-height: 20px;
  margin-left: 8px;
  min-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Left {
  align-items: center;
  border-right: 1px solid #e9eef4;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 260px;
  height: 100%;
  max-width: 260px;
  padding: 0 16px;
}

.Name {
  font-size: 28px;
  line-height: 36px;
  min-height: 36px;
}

.Nav {
  background-color: #fff;
  flex: 1 1 auto;
  height: 100%;
  padding: 0 24px;
}

.Tables {
  background-color: #f4f7f9;
  border-right: 1px solid #e9eef4;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 260px;
  flex-direction: column;
  justify-content: flex-end;
  width: 260px;
}

.TablesContainer {
  flex: 1 1 auto;
  padding: 16px;
}

.TablesTrigger {
  flex: 0 0 48px;
}

.Tablespaces {
  background-color: #313c47;
  flex: 0 0 80px;
  width: 80px;
}
