.Root {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.Container {
  display: flex;
  flex: 1 1 auto;
}

.Content {
  flex: 1 1 auto;
}

.Header {
  background-color: #f4f7f9;
  border-bottom: 1px solid #e9eef4;
  display: flex;
  height: 56px;
}

.Hash {
  color: #989898;
  font-size: 14px;
  margin: 10px 0 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.Name {
  align-items: center;
  border-right: 1px solid #e9eef4;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 260px;
  font-size: 28px;
  height: 100%;
  max-width: 260px;
  padding: 0 16px;
}

.Nav {
  background-color: #fff;
  flex: 1 1 auto;
  height: 100%;
  padding: 0 24px;
}

.Tables {
  background-color: #f4f7f9;
  border-right: 1px solid #e9eef4;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 260px;
  flex-direction: column;
  justify-content: flex-end;
  width: 260px;
}

.TablesContainer {
  flex: 1 1 auto;
  padding: 16px;
}

.TablesTrigger {
  flex: 0 0 48px;
}

.Tablespaces {
  background-color: #313c47;
  flex: 0 0 80px;
  width: 80px;
}
